body{
background-color: #f7f7f7;
font-family: 微軟正黑體;
padding-top: 60px;
}
h3{
margin-bottom: 36px;
display:block;
color:#555555;
}
p{
padding-top:16px;
margin-bottom:36px;
display:block;
color:#555555;
}

img{
    width:100%;
    object-fit: contain;
}

.text-center{
    text-align:center;
    vertical-align:middle;
}

.text-left{
    text-align:left;
    vertical-align:middle;
}

.text-right{
    text-align:right;
}

.highlight{
    font-weight: medium;
    color: #111111;
}

.small{
    font: 12px;
    margin-right: 16px;
}

.margin-top{
    margin-top:20px;
}

.img-center{
    display: block;
    margin: 0 auto;
}
.col-desc{
    vertical-align:middle;
}
.t-view{
	border: 1px solid #d4d4d4;
	border-radius: 3px;
	padding-top:8px;
	height: 95%;
    position:relative;
    overflow-y: scroll;
}


.item-center{
display:flex;
justify-content: center;
align-content: center;
align-items:center;
}
.inline-block{
display:inline-block;
border-top: 2px solid #999999;
width:100px;
text-align: center;
margin-right:4px;
margin-left:4px;
animation-name: color;
}

.yet{
border-color: #999999;
color: #999999;

}
.active{
	border-color: #bf0000;
color: #bf0000;

}
.done{
	border-color: #333333;
color: #333333;

}

.none{
	display:none;
}

.t-step1{
border-color: #999999;
color: #999999;
animation: changecolor 9s infinite;
animation-delay: 1s;
animation-fill-mode: forwards;
}
.t-step2{
border-color: #999999;
color: #999999;
animation: changecolor 9s infinite;
animation-delay: 2s;
animation-fill-mode: forwards;
}
.t-step3{
border-color: #999999;
color: #999999;
animation: changecolor 9s infinite;
animation-delay: 3s;
animation-fill-mode: forwards;
}
.t-step4{
border-color: #999999;
color: #999999;
animation: changecolor 9s infinite;
animation-delay: 4s;
animation-fill-mode: forwards;
}
.t-step5{	border-color: #999999;
color: #999999;
animation: changecolor 9s infinite;
animation-delay:5s;
animation-fill-mode: forwards;
}

@keyframes changecolor{
0% {border-color: #999999; color: #999999;}
10% {border-color: #bf0000; color: #bf0000;}
30%{border-color: #333333; color: #333333;}
}

.t-btn-primary{
	background-color: transparent;
	color: #bf0000;
	border: 1px solid #bf0000;
	border-radius: 3px;
}

.t-btn-primary:hover{
	text-decoration: none;
	color:#ffffff;
	background-color: #bf0000;
}


.t-btn-secondary{
background: none;
border: 1px solid #999999;
border-radius: 3px;
color: #999999;
}
.t-btn-secondary:hover{
	background:#f2f2f2;
	color: #555555;
	text-decoration: none;
}

.t-btn-nav{
	margin: 16px;
	color: #999999;
	font-weight:bold;
}

.t-btn-nav:hover{
	text-decoration: none;
	color:#333333;
}

.bottom-left{
	position: absolute;
bottom: 16px;
right: 16px;
}

.bounce{
	animation: bounce 2s infinite;
	animation-delay: 0.5s;
}

@keyframes bounce{
	0%   { transform: scale(1.0); }
    10%  { transform: scale(1.08); }
    20% { transform: scale(1.0);}
    30%  { transform: scale(1.08); }
    40% {transform:scale(1.0);}
}

.movein1{
    opacity: 0;
    animation-name: movein;
    animation-duration:1s;
    animation-timing-function: linear;
    animation-interation-count: 1;
    animation-fill-mode: forwards;
}
.movein2{
    opacity: 0;
    animation-name: movein;
    animation-duration:1s;
    animation-timing-function: linear;
    animation-interation-count: 1;
    animation-fill-mode: forwards;
    animation-delay:1s;
}
@keyframes movein{
    0% {transform: translateX(-120px); opacity:0}
    50% {transform: translateX(-100px); opacity:0}
    75% {transform: translateX(-60px);opacity:0.3}
    100% {transform: translateX(0px); opacity:1}
}

.delay{
    opacity: 0;
    animation: delay 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes delay{
    from {opacity:0;}
    to {opacity:1;}
}
