
html {
    height  : 100%;
    overflow: auto;
}
body {
position: relative;
font-weight: 200;
height:100%;
overflow:auto;
}
h4{
color: #555555;
font-weight: 400;
margin-bottom: 16px;
}
h3{
	color:#555555;
	font-weight:400;
	margin-bottom:32px;
}
li{
	line-height: 30px;
}
li, a{
color: #555555;
}
nav li:hover, a:hover{
color: #bf0000;
font-weight: 400;
}

div li a{
	padding: 0px 4px;
	font-weight: 400;
	color:#333333;
}
div li a:hover{
	padding: 0px 4px;
	font-weight: 400;
	text-decoration: none;
	color:#333333;
	background-color: rgba(230,242,255,1);
	border: 1px solid rgba(0,85,172,1);
	border-radius: 8px
}
footer{
	position:fixed;
	bottom:0px;
	width:100%;
	background-color: #e9e9e9;
	text-align:center;
	color: #555555;
	font-size:0.6rem;
}
.card{
	border-radius: 10px;
	margin: 8px 8px;
}
.card-subtitle{
	font-size:0.9rem;
	color:#999999;
}

.mb-3{
	min-height: 20%;
}
.navbar-brand{
font-weight: 400;
}
.navbar{
background: #e9e9e9;
box-shadow: 0px 1px 1px 1px rgba(110,110,110,0.5);
}
.nav-link{
color: #bf0000;
}
.nav-pills .nav-link.active{
font-weight: 400;
background-color: #bf0000;
}
.nav-tabs .nav-link.active{
font-weight: 400;
}
.breadcrumb{
	background-color: transparent;
	font-size:0.9rem;
	padding:0px 0px;
}
.supplement{
color: #999999;
}
.supplement:hover{
color: #999999;
font-weight: 400;
}
.section-banner{
	background-image:url(img/banner-top.png);
	background-size: cover;
	background-position: left;
	height:30%;
}
.section-title{
padding-top: 60px;
}
.section{
padding-top: 60px;
padding-bottom: 100px;
}
.removed{
display: none;
}
.hidden{
visibility: hidden;
}


/* */

.title{
color: #333333;
font-weight:400;
padding: 0px 4px;
}
.title::before{
	content:"【";
}
.title::after{
	content:"】";
}
.link{
	color:#0055ac;
	text-decoration: underline;
	padding: 0px 4px;
}
.primary-button{
	color: #ffffff;
	background-color: #bf0000;
	font-size: 0.9rem;
	font-weight: 400;
	border-radius: 4px;
	padding: 2px 16px;
	margin: 0px 4px;
}
.secondary-button{
	color: #333333;
	background-color: #ffffff;
	border: 1px solid #999999;
	font-size: 0.9rem;
	font-weight: 400;
	border-radius: 4px;
	padding: 2px 16px;
	margin: 0px 4px;
}
.navbar-button{
	color: #ffffff;
	background-color: #555555;
	padding: 2px 16px;
	margin: 0px 4px;
}
.dropdown-button{
	color: #333333;
	background-color: #ffffff;
	border: 1px solid rgba(255,255,255,1);
	box-shadow: 0px 1px 3px 0px rgba(153,153,153,1);
	padding: 2px 16px;
	margin: 0px 4px;
}
.toggle-button:hover{
	background-color: transparent;
	border: 0px solid transparent;
}
.oi{
	margin: 0px 4px;
	color: #999999;
}
.warning{
	color: #ff0000;
}

.card-body:hover{
	background-color: rgba(51,51,51,1);
	border-radius: 10px;
	color: #ffffff;
	text-decoration: none;
}
.collapse-body{
	padding: 16px 16px;
	border: 1px solid #e9e9e9;
	border-radius: 10px;
}

.icon-sm{
	width:16px;
}

@media screen and (max-width:640px){
	.section-title{
		margin-top: 80px;
	};
	.section{
		padding-top: 120px;
	}
}
